name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        cfg:
        - { ruby: 2.6, postgres: 11, gemfile: rails_6.0 }
        - { ruby: 2.7, postgres: 11, gemfile: rails_6.0 }
        - { ruby: 3.0, postgres: 11, gemfile: rails_6.0 }
        - { ruby: 2.6, postgres: 12, gemfile: rails_6.0 }
        - { ruby: 2.7, postgres: 12, gemfile: rails_6.0 }
        - { ruby: 3.0, postgres: 12, gemfile: rails_6.0 }
        - { ruby: 2.6, postgres: 13, gemfile: rails_6.0 }
        - { ruby: 2.7, postgres: 13, gemfile: rails_6.0 }
        - { ruby: 3.0, postgres: 13, gemfile: rails_6.0 }
        - { ruby: 2.6, postgres: 11, gemfile: rails_6.1 }
        - { ruby: 2.7, postgres: 11, gemfile: rails_6.1 }
        - { ruby: 3.0, postgres: 11, gemfile: rails_6.1 }
        - { ruby: 2.6, postgres: 12, gemfile: rails_6.1 }
        - { ruby: 2.7, postgres: 12, gemfile: rails_6.1 }
        - { ruby: 3.0, postgres: 12, gemfile: rails_6.1 }
        - { ruby: 2.6, postgres: 13, gemfile: rails_6.1 }
        - { ruby: 2.7, postgres: 13, gemfile: rails_6.1 }
        - { ruby: 3.0, postgres: 13, gemfile: rails_6.1 }
    env:
      BUNDLE_GEMFILE: gemfiles/${{ matrix.cfg.gemfile }}.gemfile
    services:
      postgres:
        image: postgres:${{ matrix.cfg.postgres }}
        ports:
        - 5432:5432
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_USER: postgres
          POSTGRES_DB: conflict_free_schema
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby
    # To automatically get bug fixes and new Ruby versions for ruby/setup-ruby,
    # change this to (see https://github.com/ruby/setup-ruby#versioning):
      uses: ruby/setup-ruby@v1
      with:
        bundler-cache: true
        ruby-version: ${{ matrix.cfg.ruby }}
    - name: Install dependencies
      run: bundle install
    - name: Run tests
      run: bundle exec rspec
      env:
        POSTGRES_HOST: localhost
        RAILS_ENV: test
